*{
    padding: 0;
    margin: 0;
}
.sectionForm {
    font-family: var(--premiereFontFamily);
    display: flex;
    width:100%;
    background-image: url('img/form.png');
    background-size: cover;
    background-repeat: no-repeat;
    gap: 33%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - calc(110 * var(--valeurViewport) / var(--variableLargeur)));
    color:white;
    position: relative;
    overflow: hidden;
}
.sectionForm form{
    width:calc(640 * var(--valeurViewport) / 1920);
    padding-top:calc(100 * var(--valeurViewport) / 1920);
    padding-bottom:calc(30 * var(--valeurViewport) / 1920);
    margin-right: calc(120 * var(--valeurViewport) / 1920);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap:calc(10 * var(--valeurViewport) / 1920) ;
    background: rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -25px;
}
#text-form{
    align-self: flex-start;
    padding-top: calc(100 * var(--valeurViewport) / 1920);
    margin-left: calc(120 * var(--valeurViewport) / 1920);
}
h2{
    font-family: var(--deuxiemeFontFamily);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-bottom: calc(25 * var(--valeurViewport) / 1920);
}
@media screen and (min-width: 1440px){
    #check1,#check2{
        font-size: 15px;
    }
}
.btnForm{
    background-color: #938A56;
    z-index: 1;
    color: black;
    padding-top:calc(14 * var(--valeurViewport) / 1920);
    padding-bottom: calc(14 * var(--valeurViewport) / 1920);
    margin-top:calc(30 * var(--valeurViewport) / 1920);
    border: none;
    cursor: pointer;
    width:calc(150 * var(--valeurViewport) / 1920);
    opacity: 0.9;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
button:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:150%;
    height:100%;
    background-color:#938432;
    transform:translateX(-100%);
    transition:transform 0.8s;
    z-index: -1 ;
    
}
button:hover:before{
    transform:translateX(0);
}
button:hover{
    color: white;
}
.sectionForm textarea{
    resize: none;
    width:calc(500 * var(--valeurViewport) / 1920);
    margin-top: calc(20 * var(--valeurViewport) / 1920);
    border-radius: 3px;
}
.sectionForm input{
    margin: calc(7 * var(--valeurViewport) / 1920);
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding:calc(5 * var(--valeurViewport) / 1920);
    border-radius: 5px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
}
.sectionForm input[type="text"],
.sectionForm input[type="email"]{
    width: calc(500 * var(--valeurViewport) / 1920);
}
input:hover{
    background: rgba(255, 255, 255, .3);
    color: white;
}
.sectionForm textarea:hover{
    background: rgba(255, 255, 255, .3);
    color: white;
}
section span{
    position: absolute;
    bottom: -50px;
    background: transparent;
    border-radius: 50px;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation:  animate 4s linear infinite;
}
section span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%,-70%);
    background: radial-gradient(#fff,transparent);
    border-radius: 50%;
}
@keyframes animate {
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        transform: translateY(-1200%);
        opacity: 0;
    }
}
input::placeholder{
    text-align: center;
}
textarea::placeholder{
    text-align: center;
}